body {
  --color-primary: #fef300;
  --color-secondary: #076dff;
  --color-text-primary: #000000;
  --color-text-primary-75: rgb(0, 0, 0, 0.75);
  --color-text-primary-50: rgb(0, 0, 0, 0.50);
  --color-text-primary-25: rgb(0, 0, 0, 0.25);
  --color-text-primary-10: rgb(0, 0, 0, 0.1);
  --color-text-secondary: #ffffff;
  --color-text-secondary-75: rgb(255, 255, 255, 0.75);
  --color-text-secondary-50: rgb(255, 255, 255, 0.5);
  --color-text-secondary-25: rgb(255, 255, 255, 0.25);
  --color-text-secondary-10: rgb(255, 255, 255, 0.1);

  --space-0_1: 0.1rem;
  --space-0_25: 0.25rem;
  --space-0_5: 0.5rem;
  --space-1: 1rem;
  --space-2: 2rem;
  --space-3: 3rem;
  --space-4: 5rem;
  --space-5: 8rem;
  --space-6: 16rem;
  --space-7: 32rem;
}